table {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-collapse: collapse;
  color: #1a2b4c;
  table-layout: fixed;
}

tr:nth-child(even) {
  background-color: #f0ebe0;
}

tr:nth-child(odd) {
  background-color: #f5e6ca;
}

td {
  border: 1px solid #7a9bb5;
}
