:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  background: var(--bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme) {
  :root {
    --bg: #1a2b4c;
    --head: #fff;
  }
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
  color: var(--head);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
