.modal__overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: relative;
  padding: 25px;
  background-color: #f5e6ca;
  border-radius: 16px;
  min-width: 450px;
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #1a2b4c;
  border-radius: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

h2 {
  color: #0047ab;
}

p {
  color: #0047ab;
}

span {
  color: #1a2b4c;
  font-weight: bold;
}
